<html>

<head>
    <title></title>
</head>

<body>
    </div>
	<button onclick="return goHome()" id = "home">Home </button>
    <div style="width:50%;margin:0 auto; font-size:100%">
        <h1 align="center">Add a Friend</h1>
        <table align="center">
            <tr>
                <td><form onSubmit="return addFriend()">
				<b>Friend ID: </b>
				<input id="friend" type="integer" name="friend"/>
				<input type="submit" value="Submit" />
				</form></td>
            </tr>
        </table>
		
		<script>
		function addFriend() {
			var url = "http://127.0.0.1:8000/" + "{{sp.id}}/" + "addfriends/" + document.getElementById("friend").value + "/";
			location.href = url;
			return false;
		}
	</script>
	<script>
		function goHome() {
			var url = "http://127.0.0.1:8000/" + "{{sp.id}}/";
			location.href = url;
			return false;
		}
	</script>
    </div>
</body>

</html>