{% load static %}
<html>

<head>
    <title></title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/matchingApp.css' %}">
</head>

<body>
<!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://127.0.0.1:8000/">Lunch Date Matching</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/{{ sp.id }}/addfriends">{{ "Add Friends" }}</a></li>
                    <li><a href="/{{ sp.id }}/addconflicts">{{ "Add Conflicts" }}</a></li>
                    <li><a href="/{{ sp.id }}/settings">{{ "Modify User Settings" }}</a></li>
                    <li><a href="/{{ sp.id }}/findrestaurant">{{ "Find a Restaurant" }}</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="http://127.0.0.1:8000/">Logout</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    </div>
    <div class="container">
        <div class="jumbotron">
        <div><a href="/{{ sp.id }}"> &#8592 Back to User Info</a></div>
        <h2> Find a Restaurant </h2>
            
        <table align="center">
			<tr>
				<td><form>
				<b>Select a food type:<b>
					<select id="foodtype">
					{% for t in types %}
						<option value="{{ t }}">{{ t }}</option>
					{% endfor %}
					</select>
				</form></td>
			</tr>
			<tr>
				<td><form onSubmit = "return process()">
				<b>Choose a maximum distance (miles):</b>
				<input id="distance" name="distance" type="number" min = "0" required/>
			</td>
			</tr>
			<tr>
				<td>
				<b>Open now</b>
				<input id="openow" name="opennow" type="radio" onClick = "disabletimes()" checked = "checked"/></td>
				<td><b>Open at a specific time</b>
				<input id="opennow" name="opennow" type="radio" onClick = "enabletimes()"/></td>  </td>
			</tr>
			<tr><td> </td><td>
				<select id="hours" disabled="disabled">
				{% for h in hours %}
					<option value="{{ h }}" {% if h == "-" %}selected{% endif %}>{{ h }}</option>
				{% endfor %}
				</select>
				<select id="minutes" disabled="disabled">
				{% for m in minutes %}
					<option value="{{ m }}" {% if m == "-" %}selected{% endif %}>{{ m }}</option>
				{% endfor %}
				</select>
				<select id="weekday" disabled="disabled">
				{% for d in daysL %}
					<option value="{{ d }}" {% if d == "-" %}selected{% endif %}>{{ d }}</option>
				{% endfor %}
				</select></td></tr>
				<tr><td><input type="submit" value="Find a Restaurant"/></td></tr>
				</form>
        </table>
    </div>
	
	<script>
		function process() {
			var url = "http://127.0.0.1:8000/" + "{{sp.id}}/" + "queryrestaurant/" + document.getElementById("foodtype").value + "/" + document.getElementById("distance").value + "/" + document.getElementById("hours").value + "/" + document.getElementById("minutes").value + "/" + document.getElementById("weekday").value + "/";
			location.href = url;
			return false;
		}
		</script>
	
	<script>
		function disabletimes() {
		    document.getElementById("hours").disabled = true;
			document.getElementById("hours").value = "-";
			document.getElementById("minutes").disabled = true;
			document.getElementById("minutes").value = "-";
			document.getElementById("weekday").disabled = true;
			document.getElementById("weekday").value = "-";
		}
		</script>
		
		<script>
			function enabletimes() {
				document.getElementById("hours").disabled = false;
				document.getElementById("minutes").disabled = false;
				document.getElementById("weekday").disabled = false;
			}
		</script>
		<script>
		function goHome() {
			var url = "http://127.0.0.1:8000/" + "{{sp.id}}/";
			location.href = url;
			return false;
		}
	</script>
            
        </div>
    </div>

	
        
</body>

</html>