{% load staticfiles %}
<html>

<head>
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/matchingApp.css' %}">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-left" style="margin-right: 10px;"><img src="{% static "icon/icon2.png" %}"></a>
                <a class="navbar-brand" href="#">Lunch Date Matching</a>
            </div>

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="jumbotron">
        <h2> Login </h2>
            <p>
                Find a lunch buddy! Enter your id.</p>
            <script>
            function process() {
                var url = "http://127.0.0.1:8000/" + document.getElementById("url").value;
                location.href = url;
                return false;
            }
            </script>
            <form onsubmit="return process();">
                User ID:
                <input id="url" name="url" type="text" style="margin-left: 10px"/>
                <input type="submit" value="Login" />&nbsp;</form>
            <p>
                &nbsp;</p>
        </div>
    </div>
    <div class="container">
        <div class="jumbotron">
            <h2>
            New User Registration</h2>
            <table>
                <tr>
                    <td>
                        <form style="margin-top: 10px">
                            Name:
                            <input id="name" name="name" type="text" value="" / required style="margin-left: 10px">
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form required>
                            Meal Plan?:
                            <b>Yes</b>
                            <input id="mealplanY" name="mealplan" type="radio" />
                            <b>No</b>
                            <input id="mealplanN" name="mealplan" type="radio" />
                    </td>
                    </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form required>
                            Do you want to be connected with strangers?
                            <b>Yes</b>
                            <input id="strangersY" name="strangers" type="radio" />
                            <b>No</b>
                            <input id="strangersN" name="strangers" type="radio" />
                    </td>
                    </form>
                    </td>
                    <tr>
                        <td>
                            <form onSubmit="return newUser()">
                                <input type="submit" value="Submit" />
                            </form>
                        </td>
                    </tr>
                </tr>
            </table>
        </div>
        <script>
        function newUser() {
            if (mealplanY.checked) {
                mealplan = "T"
            } else if (mealplanN.checked) {
                mealplan = "F"
            } else mealplan = "N"

            if (strangersY.checked) {
                strangers = "T"
            } else if (strangersN.checked) {
                strangers = "F"
            } else strangers = "N"
            var url = "http://127.0.0.1:8000/" + "newuser/" + document.getElementById("name").value + "/" + mealplan + "/" + strangers + "/";
            location.href = url;
            return false;
        }
        </script>
    </div>
    </div>
</body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</html>
