{% load render_table from django_tables2 %} {% load static %}
<html>

<head>
    <title></title>

</head>

<body>
   <button onclick="return goHome()" id = "home">Home </button>
    <h1 align = "center">
            Possible Lunch Dates</h1>
	<table style="width:100%">
	<tr>
    <th>Friend</th>
    <th>Distance (miles)</th> 
    <th>Shared Preferences</th>
	<th> Mutual Friends </th>
    {%for p in table%}
	<tr>
	{%for i in p%}
	<td align = "center">{%if forloop.first%}<button onclick="return movePage(value)" id = "friend" value = {{i.id}}>{{i}}{%else%} {{i}}{%endif%}</button></td>
	{% endfor %}
	</tr>
    {% endfor %}
</table>
	<script>
	function movePage(id) {
		var url = "http://127.0.0.1:8000/" + id + "matchedrestaurant/" + "{{sp.id}}/" +  "{{day}}/" + "{{time}}/"+ "{{distance}}/";
		location.href = url;
		return false;
	}
	</script>
	
	<script>
		function goHome() {
			var url = "http://127.0.0.1:8000/" + "{{sp.id}}/";
			location.href = url;
			return false;
		}
	</script>
	
</body>

</html>