{% load render_table from django_tables2 %} {% load static %}
<html>

<head>
    <title></title>

</head>

<body>
    <h1 align = "center">
            Possible Lunch Dates</h1>
	<table style="width:100%">
	<tr>
    <th>Friend</th>
    <th>Distance (miles)</th> 
    <th>Shared Preferences</th>
	<th> Mutual Friends </th>
    {%for p in table%}
	<tr>
	{%for i in p%}
	<td align = "center">{{i}}</td>
	{% endfor %}
	</tr>
    {% endfor %}
</table>
	<script>
	function movePage() {
		var url = "http://127.0.0.1:8000/" + document.getElementById("friend").value + "matchedrestaurant/" + "{{sp.id}}/" +  "{{day}}/" + "{{time}}/"+ "{{distance}}/";
		location.href = url;
		return false;
	}
	</script>
	
	<form onsubmit="return movePage();" align = "center">
		Enter a friend id: 
		<input id="friend" name="friend" type="text" />
		<input type="submit" value="go" />&nbsp;</form>
	<p>
		&nbsp;</p>
	
</body>

</html>