<html>

<head>
    <title></title>
</head>

<body>
    </div>
	<button onclick="return goHome()" id = "home">Home </button>
    <div style="width:50%;margin:0 auto; font-size:100%">
        <h1 align="center">Matching Restaurants</h1>
        <table align="center">
	       <th> Criteria </th>
            <tr> <td>Time: {{time}}</td> </tr>
			<tr> <td> Weekday: {{day}} </td> </tr>
			<tr> <td> Food Type: {{type}} </td> </tr>
			<tr> <td> Max Distance: {{dist}} miles </td> </tr>
        </table>
		</br></br>
		<table align = center>
		{% for r in restaurants %}
			<tr><td>{{r}}</tr></td>
		{% endfor %}
	</table align = center>
    </div>
	<script>
		function goHome() {
			var url = "http://127.0.0.1:8000/" + "{{sp.id}}/";
			location.href = url;
			return false;
		}
	</script>
</body>

</html>