{% load render_table from django_tables2 %} {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>queryOut</title>
    <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
</head>

<body>
    <div style="width:50%;margin: auto; font-size:150%">
        <table align="center">
            <tr>
                <th style="padding:0 0px 0 0px;"><li><a href="/{{ sp.id }}/addfriends">{{ "Add Friends" }}</a></li></th>
                <th style="padding:0 0px 0 0px;"><li><a href="/{{ sp.id }}/settings">{{ "Modify User Settings" }}</a></li></th>
                <th style="padding:0 0px 0 0px;"><li><a href="/{{ sp.id }}/findrestaurant">{{ "Find a Restaurant" }}</a></li></th>
            </tr>
        </table>
    </div>
    <div style="width:50%;margin: auto; font-size:100%">
        <h1 align="center">Match with another User</h1>
        <table align="center">
            <tr>
                <th>
                    <p>
                        Meet at a specific time:</p>
                    <script>
                    function process() {
                        var url = "http://127.0.0.1:8000/" + document.getElementById("url").value + "match";
                        location.href = url;
                        return false;
                    }
                    </script>
                    <form onsubmit="return process();">
                        Day, Time, Distance:
                        <input id="url" name="url" type="text" />
                        <input type="submit" value="go" />&nbsp;</form>
                    <p>
                        &nbsp;</p>
                </th>
                <th>or</th>


                <th style="padding:0 15px 0 15px;"><li><a href="/{{ sp.id }}/matchnow">{{ "Match User Now" }}</a></li></th>

            </tr>

            
        </table>
    </div>
    <div style="width:50%;margin:0 auto; font-size:100%">
        <h1 align="center">User Information</h1>
        <table align="center">
            <tr>
                <th>Name</th>
                <td>{{ sp.name }}</td>
            </tr>
            <tr>
                <th>ID #</th>
                <td>{{ sp.id }}</td>
            </tr>
            <tr>
                <th>Meal Plan?</th>
                <td>{{ sp.has_meal_plan }}</td>
            </tr>
            <tr>
                <th>Do you want to be connected with strangers?</th>
                <td>{{ sp.allow_strangers }}</td>
            </tr>
        </table>
    </div>
    <table align="center">
        <tr>
            <th>
                <h2>Restaurant Info</h2></th>
            <th>
                <h2>User Information</h2></th>
        </tr>
        <tr>
            <td>{% render_table restaurant %}</td>
            <td>{% render_table people %}</td>
        </tr>
    </table>
</body>

</html>
