{% load render_table from django_tables2 %} {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>queryOut</title>
    <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
</head>

<body>
    <div style="width:50%;margin: auto; font-size:150%">
        <table align="center">
            <tr>
                <th style="padding:0 0px 0 0px;"><li><a href="/{{ sp.id }}/addfriends">{{ "Add Friends" }}</a></li></th>
                <th style="padding:0 0px 0 0px;"><li><a href="/{{ sp.id }}/settings">{{ "Modify User Settings" }}</a></li></th>
                <th style="padding:0 0px 0 0px;"><li><a href="/{{ sp.id }}/findrestaurant">{{ "Find a Restaurant" }}</a></li></th>
            </tr>
        </table>
    </div>
    <div style="width:50%;margin: auto; font-size:100%">
        <h1 align="center">Match with another User</h1>
        <table align="center">
            <tr>
                <th>
                        Meet at a specific time: </th>
						<td>
				<form>
				<select id="hours">
				{% for h in hours %}
					<option value="{{ h }}" {% if h == "-" %}selected{% endif %}>{{ h }}</option>
				{% endfor %}
				</select>
			</form></td>
			<td>
			<form>
				<select id="minutes">
				{% for m in minutes %}
					<option value="{{ m }}" {% if m == "-" %}selected{% endif %}>{{ m }}</option>
				{% endfor %}
				</select>
			</form></td>
			<td>
			<form>
				<select id="weekday">
				{% for d in daysL %}
					<option value="{{ d }}" {% if d == "-" %}selected{% endif %}>{{ d }}</option>
				{% endfor %}
				</select>
			</form></td>
                    <script>
                    function process() {
                        var url = "http://127.0.0.1:8000/" + "{{sp.id}}/" + "matchnow/" + document.getElementById("distance").value + "/" + document.getElementById("hours").value + "/" + document.getElementById("minutes").value + "/" + document.getElementById("weekday").value + "/";
                        location.href = url;
                        return false;
                    }
                    </script>
                </th>

            </tr>
        </table>
		<center>		
			<form onsubmit="return process();">
			Distance (miles)
				<input id="distance" name="distance" type="text" />
				<input type="submit" value="go" />&nbsp;</form>
			</form> </center>
			
    </div>
    <div style="width:50%;margin:0 auto; font-size:100%">
        <h1 align="center">User Information</h1>
        <table align="center">
            <tr>
                <th>Name</th>
                <td>{{ sp.name }}</td>
            </tr>
            <tr>
                <th>ID #</th>
                <td>{{ sp.id }}</td>
            </tr>
            <tr>
                <th>Meal Plan?</th>
                <td>{{ sp.has_meal_plan }}</td>
            </tr>
            <tr>
                <th>Do you want to be connected with strangers?</th>
                <td>{{ sp.allow_strangers }}</td>
            </tr>
        </table>
    </div>

</body>

</html>
