<html>

<head>
    <title></title>
</head>

<body>
<button onclick="return goHome()" id = "home">Home </button>
    <div style="width:50%;margin:0 auto; font-size:100%">
        <h1 align="center">User Information</h1>
        <table align="center">
            <tr>
                <th>Name</th>
                <td>{{ sp.name }}</td>
            </tr>
            <tr>
                <th>ID #</th>
                <td>{{ sp.id }}</td>
            </tr>
            <tr>
                <th>Meal Plan?</th>
                <td>{{ sp.has_meal_plan }}</td>
            </tr>
            <tr>
                <th>Do you want to be connected with strangers?</th>
                <td>{{ sp.allow_strangers }}</td>
            </tr>
        </table>
    </div>
	<script>
		function goHome() {
			var url = "http://127.0.0.1:8000/" + "{{sp.id}}/";
			location.href = url;
			return false;
		}
	</script>
</body>

</html>