<html>

<head>
    <title></title>
</head>

<body>
<button onclick="return goHome()" id = "home">Home </button>
    <div style="width:50%;margin:0 auto; font-size:100%">
        <h1 align="center">Current User Information</h1>
        <table align="center">
            <tr>
                <th>Name</th>
                <td>{{ sp.name }}</td>
            </tr>
            <tr>
                <th>ID #</th>
                <td>{{ sp.id }}</td>
            </tr>
            <tr>
                <th>Meal Plan?</th>
                <td>{{ sp.has_meal_plan }}</td>
            </tr>
            <tr>
                <th>Do you want to be connected with strangers?</th>
                <td>{{ sp.allow_strangers }}</td>
            </tr>
        </table>
    </div>
	
	<h1 align="center">Change User Information</h1>
        <table align="center">
            <tr>
				<td><form>
					<b>Updated name:</b>
					<input id="name" name="name" type="text" value = ""/>
				</form> </td>
			</tr>
			<tr> 
				<td><form>
					<b>Meal Plan?:</b>
					<b>Yes</b>
					<input id="mealplanY" name="mealplan" type="radio" checked = "true"/>
					<b>No</b>
					<input id="mealplanN" name="mealplan" type="radio"/></td>
				</form> </td>
			</tr>
			<tr> 
				<td><form>
					<b>Do you want to be connected with strangers?</b>
					<b>Yes</b>
					<input id="strangersY" name="strangers" type="radio" checked = "true" />
					<b>No</b>
					<input id="strangersN" name="strangers" type="radio"/></td>
				</form> </td>
				<tr><td><form onSubmit = "return process()"><input type="submit" value="Submit"/></form></td></tr>
			</tr>
        </table>
    </div>
	<script>
		function process() {
		    if (mealplanY.checked){
				mealplan = "T"
			}
			else if (mealplanN.checked){
				mealplan = "F"
			}
			else mealplan = "N"
			
			if (strangersY.checked){
				strangers = "T"
			}
			else if (strangersN.checked){
				strangers = "F"
			}
			else strangers = "N"
			var url = "http://127.0.0.1:8000/" + "{{sp.id}}/" + "update/" + document.getElementById("name").value + "/" + mealplan + "/" + strangers + "/";
			location.href = url;
			return false;
		}
		</script>
	<script>
		function goHome() {
			var url = "http://127.0.0.1:8000/" + "{{sp.id}}/";
			location.href = url;
			return false;
		}
	</script>
</body>

</html>